<div class="modal fade" id="help-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fas fa-question-circle me-2"></i>Need Help?
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="help-options">
          <div class="help-option">
            <i class="fas fa-robot text-primary"></i>
            <div>
              <h6>AI Assistant</h6>
              <p>Use the chatbot in the bottom-right corner for instant help</p>
            </div>
          </div>
          <div class="help-option">
            <i class="fas fa-keyboard text-info"></i>
            <div>
              <h6>Keyboard Shortcuts</h6>
              <p><kbd><i class="fas fa-keyboard me-1"></i>Ctrl + K</kbd> - Search documentation<br>
                 <kbd>Alt + S</kbd> - Focus sidebar search<br>
                 <kbd>Alt + C</kbd> - Toggle chatbot</p>
            </div>
          </div>
          <div class="help-option">
            <i class="fas fa-users text-success"></i>
            <div>
              <h6>Community</h6>
              <p>Join our community forum for discussions and support</p>
            </div>
          </div>
          <div class="help-option">
            <i class="fas fa-envelope text-warning"></i>
            <div>
              <h6>Contact Support</h6>
              <p>Email us at <a href="mailto:gra-support@bankofamerica.com">gra-support@bankofamerica.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
