<div class="navbar-center-items d-lg-none" id="mobile-nav-menu" style="display: none;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('user-guide/index') }}">
        <i class="fas fa-book me-2"></i>
        User Guide
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('api/index') }}">
        <i class="fas fa-code me-2"></i>
        API Reference
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('examples/index') }}">
        <i class="fas fa-lightbulb me-2"></i>
        Examples
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('tutorials/index') }}">
        <i class="fas fa-chalkboard-teacher me-2"></i>
        Tutorials
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('changelog') }}">
        <i class="fas fa-list-alt me-2"></i>
        Changelog
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('contributing/index') }}">
        <i class="fas fa-hands-helping me-2"></i>
        Contributing
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('community') }}">
        <i class="fas fa-users me-2"></i>
        Community
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('support') }}">
        <i class="fas fa-life-ring me-2"></i>
        Support
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ pathto('roadmap') }}">
        <i class="fas fa-road me-2"></i>
        Roadmap
      </a>
    </li>
  </ul>
</div>
