<div class="modal fade" id="version-compare-modal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fas fa-code-compare me-2"></i>Compare Documentation Versions
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h6><i class="fas fa-tag me-2"></i>Version <span id="compare-version-1"></span></h6>
            <div id="compare-content-1" class="compare-content"></div>
          </div>
          <div class="col-md-6">
            <h6><i class="fas fa-tag me-2"></i>Version <span id="compare-version-2"></span></h6>
            <div id="compare-content-2" class="compare-content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
